<?xml version="1.0" encoding="utf-8" ?>
<roadkill adminRoleName="Admin" attachmentsFolder="~/App_Data/Attachments"
 connectionStringName="Roadkill" dataStoreType="SqlServer2008"
 editorRoleName="Editor" ignoreSearchIndexErrors="true" installed="true"
 ldapConnectionString="LDAP://10.254.162.10/Wiki" ldapUsername="IIS APPPOOL\ASP.NET v4.0"
 ldapPassword="7eDR4tra" logging="none" useWindowsAuthentication="false"
 useBrowserCache="true" version="2.0.275" />